script/Skill/flows.json
[
    {
        "id": "25a0b268fb96fe95",
        "type": "tab",
        "label": "ERF 2023 - Conversation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c248e2fb9cc1f59",
        "type": "alexa-remote-routine",
        "z": "25a0b268fb96fe95",
        "name": "",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "speak",
            "payload": {
                "type": "regular",
                "text": {
                    "type": "msg",
                    "value": "data"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 660,
        "y": 280,
        "wires": [
            [
                "734c9d366807bc93"
            ]
        ],
        "inputLabels": [
            "/tts"
        ]
    },
    {
        "id": "734c9d366807bc93",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "564c7a3159f58b23",
        "type": "alexa-remote-init",
        "z": "25a0b268fb96fe95",
        "name": "",
        "account": "9143800af291332b",
        "option": "initialise",
        "x": 260,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "86f398e03011f3e3",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "\"alexa/tts\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "5c6477ebcafba692",
        "type": "alexa-remote-routine",
        "z": "25a0b268fb96fe95",
        "name": "give me screws",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "str",
                    "value": "ask robotic arm give me screws robot request dialog"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "e23d3122b568439e"
            ]
        ]
    },
    {
        "id": "e23d3122b568439e",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 380,
        "wires": []
    },
    {
        "id": "682a481f4a3a5efa",
        "type": "switch",
        "z": "25a0b268fb96fe95",
        "name": "event manager",
        "property": "data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "give me screws",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "give me screwdriver",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold take it",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "hold mounting",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 660,
        "y": 480,
        "wires": [
            [
                "800450d0d0eef533"
            ],
            [
                "23676fdd4f2f5064"
            ],
            [
                "894076d03b5bd974"
            ],
            [
                "0f873188d41c2741"
            ]
        ]
    },
    {
        "id": "a64908d2cc5d3d44",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "\"alexa/events\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "800450d0d0eef533",
        "type": "delay",
        "z": "25a0b268fb96fe95",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 380,
        "wires": [
            [
                "5c6477ebcafba692"
            ]
        ]
    },
    {
        "id": "b7e389dbbe1501d7",
        "type": "alexa-remote-routine",
        "z": "25a0b268fb96fe95",
        "name": "",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "msg",
                    "value": "data"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 950,
        "y": 680,
        "wires": [
            [
                "fb9697a4752a488e"
            ]
        ],
        "inputLabels": [
            "/tts"
        ]
    },
    {
        "id": "fb9697a4752a488e",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 680,
        "wires": []
    },
    {
        "id": "1fa172c3141cee15",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "\"alexa/test_voice_command\"",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 740,
        "wires": []
    },
    {
        "id": "f8eeb58ec6fb7ae9",
        "type": "delay",
        "z": "25a0b268fb96fe95",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 680,
        "wires": [
            [
                "b7e389dbbe1501d7"
            ]
        ]
    },
    {
        "id": "38156cdee550e19a",
        "type": "alexa-remote-routine",
        "z": "25a0b268fb96fe95",
        "name": "give me screwdriver",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "str",
                    "value": "ask robotic arm give me screwdriver robot request dialog"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 1100,
        "y": 440,
        "wires": [
            [
                "e1fcea0b9f8046f5"
            ]
        ]
    },
    {
        "id": "e1fcea0b9f8046f5",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 440,
        "wires": []
    },
    {
        "id": "23676fdd4f2f5064",
        "type": "delay",
        "z": "25a0b268fb96fe95",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 440,
        "wires": [
            [
                "38156cdee550e19a"
            ]
        ]
    },
    {
        "id": "cca6d18245267a73",
        "type": "alexa-remote-routine",
        "z": "25a0b268fb96fe95",
        "name": "hold take it",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "str",
                    "value": "ask robotic arm hold take it robot request dialog"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 1070,
        "y": 520,
        "wires": [
            [
                "ba9bf5b8a1581016"
            ]
        ]
    },
    {
        "id": "ba9bf5b8a1581016",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 520,
        "wires": []
    },
    {
        "id": "894076d03b5bd974",
        "type": "delay",
        "z": "25a0b268fb96fe95",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 520,
        "wires": [
            [
                "cca6d18245267a73"
            ]
        ]
    },
    {
        "id": "728d86779483e50a",
        "type": "alexa-remote-routine",
        "z": "25a0b268fb96fe95",
        "name": "hold mounting",
        "account": "9143800af291332b",
        "routineNode": {
            "type": "textCommand",
            "payload": {
                "text": {
                    "type": "str",
                    "value": "ask robotic arm hold mounting robot request dialog"
                },
                "devices": [
                    "G090XG0900860BED"
                ]
            }
        },
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "4f09654b4bc5e101"
            ]
        ]
    },
    {
        "id": "4f09654b4bc5e101",
        "type": "debug",
        "z": "25a0b268fb96fe95",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 580,
        "wires": []
    },
    {
        "id": "0f873188d41c2741",
        "type": "delay",
        "z": "25a0b268fb96fe95",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 580,
        "wires": [
            [
                "728d86779483e50a"
            ]
        ]
    },
    {
        "id": "26eb8a8cbde42b28",
        "type": "ROS2 Type",
        "z": "25a0b268fb96fe95",
        "ros2pkg": "std_msgs",
        "ros2message": "String",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "4c7c70d196f474f5"
            ]
        ]
    },
    {
        "id": "4c7c70d196f474f5",
        "type": "Subscriber",
        "z": "25a0b268fb96fe95",
        "topic": "alexa/tts",
        "domain": "bbcb77f90791ab85",
        "props": [],
        "selectedtype": "std_msgs/String",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "3c248e2fb9cc1f59",
                "86f398e03011f3e3"
            ]
        ]
    },
    {
        "id": "d788e5fa7f49d5ca",
        "type": "ROS2 Type",
        "z": "25a0b268fb96fe95",
        "ros2pkg": "std_msgs",
        "ros2message": "String",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "179277acb6410db8"
            ]
        ]
    },
    {
        "id": "179277acb6410db8",
        "type": "Subscriber",
        "z": "25a0b268fb96fe95",
        "topic": "alexa/events",
        "domain": "bbcb77f90791ab85",
        "props": [],
        "selectedtype": "std_msgs/String",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "a64908d2cc5d3d44",
                "682a481f4a3a5efa"
            ]
        ]
    },
    {
        "id": "790f0b2e6778e001",
        "type": "ROS2 Type",
        "z": "25a0b268fb96fe95",
        "ros2pkg": "std_msgs",
        "ros2message": "String",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "298e7481c29c43c8"
            ]
        ]
    },
    {
        "id": "298e7481c29c43c8",
        "type": "Subscriber",
        "z": "25a0b268fb96fe95",
        "topic": "alexa/test_voice_command",
        "domain": "bbcb77f90791ab85",
        "props": [],
        "selectedtype": "std_msgs/String",
        "x": 390,
        "y": 680,
        "wires": [
            [
                "f8eeb58ec6fb7ae9",
                "1fa172c3141cee15"
            ]
        ]
    },
    {
        "id": "9143800af291332b",
        "type": "alexa-remote-account",
        "name": "Alexa-Davide",
        "authMethod": "proxy",
        "proxyOwnIp": "localhost",
        "proxyPort": "3456",
        "cookieFile": "/home/davide/AuthFile",
        "refreshInterval": "3",
        "alexaServiceHost": "alexa.amazon.it",
        "pushDispatchHost": "",
        "amazonPage": "amazon.it",
        "acceptLanguage": "it-IT",
        "onKeywordInLanguage": "on",
        "userAgent": "",
        "usePushConnection": "on",
        "autoInit": "on",
        "autoQueryActivityOnTrigger": "off"
    },
    {
        "id": "bbcb77f90791ab85",
        "type": "dds-settings",
        "domain": "10"
    }
]